In [1]:
from Utils import *

# Step 15
prepare data the same structure as "13" only for stratified analysis.

### Load data from folder: "13_data_tcc_flattened"

In [2]:
root_dir = r"C:\Users\yftac\Documents\00_Project_Afeka\ttc_calculation"

In [3]:
directory = r'C:\Users\yftac\Documents\00_Project_Afeka\ttc_calculation\13_data_tcc_flattened'
# Get a list of files in the directory
file_name_list = os.listdir(directory)
print(file_name_list)
recordingId_list=get_recordingsId_list(file_name_list)
recordingId_list

['18_data_flattened.csv', '19_data_flattened.csv', '20_data_flattened.csv', '21_data_flattened.csv', '22_data_flattened.csv', '23_data_flattened.csv', '24_data_flattened.csv', '25_data_flattened.csv', '26_data_flattened.csv', '27_data_flattened.csv', '28_data_flattened.csv', '29_data_flattened.csv']

['18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29']

In [4]:
dfs = load_dfs(file_name_list, root_dir, directory)

In [5]:
folder_name="15_data_tcc_flattened_Stratified_Analysis"
create_folder_to_save_data(root_dir, folder_name)

Folder: '15_data_tcc_flattened_Stratified_Analysis' already exists

## Manipulate data for startified analysis

### remove rows with num_of_pairs=0 (leave only rows with existing ttc)

In [6]:
for df in dfs:
    df.drop(df[df['num_of_pairs'] == 0].index, inplace=True)
    df.reset_index(drop=True, inplace=True)

len(df)

32921

### Filter track to be in one of the ares (remover all outside one of the ares)

In [7]:
for df in dfs:
    df.drop(
        df[
            (df['zone_zebra'] == 0) &
            (df['zone_1'] == 0) &
            (df['zone_2'] == 0) &
            (df['zone_3'] == 0)
        ].index,
        inplace=True
    )
    df.reset_index(drop=True, inplace=True)

In [8]:
len(df)

4718

### update the trackTotalNumFrames

In [9]:
for df in dfs:
    # Get the maximum trackLifetime for each trackId
    track_durations = df.groupby('trackId')['trackLifetime'].max()
    track_durations=track_durations+1  # Add 1 to include the first '0' frame
    # Map the duration back to each row by trackId
    df['trackTotalNumFrames'] = df['trackId'].map(track_durations)
    # move to the 4th column
    column_to_move=df.pop("trackTotalNumFrames")
    df.insert(4, "trackTotalNumFrames", column_to_move)

In [10]:
df.describe()

,recordingId,trackId,frame,trackLifetime,trackTotalNumFrames,xCenter,yCenter,heading,xVelocity,yVelocity,...,num_of_pairs,ttc_1,ttc_2,ttc_3,ttc_4,ttc_5,ttc_6,ttc_7,ttc_8,ttc_9
count,4718.0,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,...,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.000000,4718.0
mean,29.0,320.257948,3321.369224,103.313904,132.429631,51.064548,-28.972648,169.552633,0.096075,0.004748,...,2.540907,1080.381858,778.826726,465.302620,212.804659,99.216549,56.278874,32.022717,0.649852,-1.0
std,0.0,165.506993,1830.346525,64.855666,67.710510,9.526607,7.446164,108.776938,1.157563,1.018743,...,1.471776,181.230795,508.844836,548.673097,438.229137,318.381943,245.804803,188.706097,42.805389,0.0
min,29.0,0.000000,105.000000,0.000000,7.000000,33.449000,-41.246540,0.036700,-6.284810,-3.555970,...,1.000000,1.693206,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0
25%,29.0,196.000000,1947.250000,59.000000,87.000000,43.287135,-35.939790,102.714033,-0.721108,-0.797080,...,1.000000,1111.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0
50%,29.0,299.000000,2999.500000,97.000000,122.000000,48.988720,-29.577950,152.521325,0.079330,0.043905,...,2.000000,1111.000000,1111.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0
75%,29.0,472.000000,5022.750000,128.000000,175.000000,61.433545,-24.729995,284.900332,1.099320,0.910565,...,3.000000,1111.000000,1111.000000,1111.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0
max,29.0,594.000000,6415.000000,565.000000,566.000000,66.295320,-12.392510,359.973870,3.442680,3.110310,...,8.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,-1.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4718 entries, 0 to 4717
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   recordingId          4718 non-null   int64
 1   trackId              4718 non-null   int64
 2   frame                4718 non-null   int64
 3   trackLifetime        4718 non-null   int64
 4   trackTotalNumFrames  4718 non-null   int64
 5   xCenter              4718 non-null   float64
 6   yCenter              4718 non-null   float64
 7   heading              4718 non-null   float64
 8   xVelocity            4718 non-null   float64
 9   yVelocity            4718 non-null   float64
 10  class                4718 non-null   object
 11  zone_zebra           4718 non-null   float64
 12  zone_1               4718 non-null   float64
 13  zone_2               4718 non-null   float64
 14  zone_3               4718 non-null   float64
 15  num_of_pairs         4718 non-null   int64
 16  pairs                4718 non-null   object
 17  ttc_1                4718 non-null   float64
 18  ttc_2                4718 non-null   float64
 19  ttc_3                4718 non-null   float64
 20  ttc_4                4718 non-null   float64
 21  ttc_5                4718 non-null   float64
 22  ttc_6                4718 non-null   float64
 23  ttc_7                4718 non-null   float64
 24  ttc_8                4718 non-null   float64
 25  ttc_9                4718 non-null   float64
dtypes: float64(18), int64(6), object(2)
memory usage: 958.5+ KB

## Save to csv

In [12]:
file_name_suffix = "_data_flattened_Stratified_Analysis.csv"
file_name_data_list=save_dfs(root_dir, dfs, recordingId_list, folder_name, file_name_suffix)

Saving CSV files: 100%|██████████| 12/12 [00:00<00:00, 31.69it/s]

files saved to: C:\Users\yftac\Documents\00_Project_Afeka\ttc_calculation\15_data_tcc_flattened_Stratified_Analysis
list of files saved:
['18_data_flattened_Stratified_Analysis.csv', '19_data_flattened_Stratified_Analysis.csv', '20_data_flattened_Stratified_Analysis.csv', '21_data_flattened_Stratified_Analysis.csv', '22_data_flattened_Stratified_Analysis.csv', '23_data_flattened_Stratified_Analysis.csv', '24_data_flattened_Stratified_Analysis.csv', '25_data_flattened_Stratified_Analysis.csv', '26_data_flattened_Stratified_Analysis.csv', '27_data_flattened_Stratified_Analysis.csv', '28_data_flattened_Stratified_Analysis.csv', '29_data_flattened_Stratified_Analysis.csv']